.container{
    display: inline;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    color: white;
}
h1 {
    text-align: center;
}

form {
    display: inline;
    align-items: center;
    justify-content: center;
}

.container-form{
    max-width: 100vh;
    margin: 20px auto 20px;
    padding: 20px 40px 20px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.7);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="name"],
input[type="text"],
input[type="location"],
input[type="email"],
input[type="date"],
input[type="file"],
input[type="skill"],
input[type="year"],
input[type="version"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    margin: 10px 0px 10px;
}

button[type="submit"] {
    background-color: #3F93E2;
    color: white;
    padding: 10px 120px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 35vh 10px;
}

button[type="submit"]:hover {
    background-color: #49BB99;
}

::placeholder {
    color: #555;
}