.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    color: #fff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-c1 {
    border-radius: 30px;
    background-color: white;
    color: #000;
    border: 3px solid #3F93E2;
}

.btn-c1:hover {
    background-color: #3F93E2;
    color: #fff;
}