* {
    padding: 0;
    margin: 0;
}

/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 6px 6%;
    position: sticky;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* Logo styles */
.navbar-left img {
    height: 80px;
    width: 100px;
    width: auto;
    cursor: pointer;
}

/* Menu styles */
.navbar-center .navbar-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin: 0 10px;
    font-size: 20px;
}

.navbar-menu li a {
    text-decoration: none;
    color: #333;
}

/* Dropdown styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropbtns {
    cursor: pointer;
}
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* .dropdown:hover .dropdown-content {
    display: block;
} */

/* Dropdown Button */
.dropbtn img {
    width: 40px;
    border-radius: 50%;
    border: 2px solid black;
    display: block;
    cursor: pointer;
    position: relative;
}

/* Dropdown button on hover & focus */


/* The container div - needed to position the dropdown content */
.profile-dropdown {
    position: relative;
    display: block;
}

/* Dropdown Content (Hidden by Default) */
.profile-content {
    display: none;
    right: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.profile-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.profile-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
/* .profile-dropdown:hover .profile-content {
    display: block;
} */

/* Responsive styles */
@media screen and (max-width: 768px) {
    .navbar {
        display: block;
    }

    .navbar-left img {
        margin-left: 35%;
    }

    .navbar-right .login-button {
        margin-left: 45%;
        margin-top: 30px;
    }
}

/* Footer styling */
footer {
    background: white;
    padding: 20px;
    bottom: 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px;
}

.resources,
.support,
.additional-links {
    flex-basis: 50%;
}

.resources h3,
.support h3,
.additional-links h3 {
    color: #333;
}

.resources ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.resources ul li {
    padding-top: 15px;
}

.resources ul li a {
    color: #777;
    text-decoration: none;
}

.support ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.support ul li {
    padding-top: 15px;
}

.support ul li a {
    color: #777;
    text-decoration: none;
}

.additional-links ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.additional-links ul li {
    padding-top: 15px;
}

.additional-links ul li a {
    color: #777;
    text-decoration: none;
}

.additional-links ul li a:hover {
    text-decoration: underline;
}

/* Footer styling */
footer {
    background-color: #f9f9f9;
    padding: 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.resources,
.support,
.additional-links {
    flex-basis: 30%;
}

.resources h3,
.support h3,
.additional-links ul li a {
    color: #333;
}

.additional-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.additional-links ul li {
    margin-bottom: 10px;
}

.additional-links ul li a {
    color: #777;
    text-decoration: none;
}

.additional-links ul li a:hover {
    text-decoration: underline;
}

.social-media-icons {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.social-media-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-media-icons img {
    height: 25px;
    width: 25px;
}