/* Font Familly */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    display: block;
    align-items: center;
    justify-content: center;
}

.container-para h1 {
    color: #49BB99;
    font-size: 80px;
    margin: 20px;
    margin-top: 80px;
    margin-left: 15%;
}

.container-para p {
    width: 50rem;
    font-size: 2rem;
    margin-left: 25%;
    letter-spacing: .025em;
    text-align: center;
}

.slider {
    display: flex;
    overflow: hidden;
}

.slider .slick-imag {
    justify-content: space-between;
    margin: 10px;
}

.slider .slick-imag img {
    border: 1px solid #2d2c2c;
    border-radius: 5px;
    height: 450px;
    width: 275px;
    cursor: pointer;
    display: inline;
    padding: 10px;
}

.container-uses {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-uses p {
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    font: bold;
}


/* There we are handle carts  */
.container-body {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-tab {
    margin: 0.50px;
    max-width: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container-tab p {
    text-align: center;
    font-size: 50px;
}

.container-tab .tab {
    position: relative;
    background: white;
    padding: 0 20px 20px;
    box-shadow: 0 15px 25px rgb(45, 45, 45);
    overflow: hidden;
}

.container-tab .tab input {
    appearance: none;
}

.container-tab .tab label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.container-tab .tab input::after {
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 2em;
    color: rgb(36, 36, 36);
    transition: transform 1s;
}

.container-tab .tab:hover input::after {
    color: #333;

}

.container-tab .tab input:checked ~ label::after {
    transform: rotate(135deg);
    color: #fff;
}

.container-tab .tab label h2 {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 10px;
}

.container-tab .tab input:checked ~ label h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.2);
    font-size: 100px;
    justify-content: flex-end;
    padding: 20px;
}
.container-tab .tab label h3 {
    position: relative;
    font-size: 25px;
    color: #333;
    z-index: 10;
}

.container-tab .tab .content {
    max-height: 0;
    transition: 1s;
    overflow: hidden;

}

.container-tab .tab input:checked~.content {
    max-height: 100vh;
}

.container-tab .tab .content p {
    text-align: left;
    font-size: 18px;
    position: relative;
    padding: 10px 0;
    color: #333;
    z-index: 10;
}

.container-tab .tab .content ul li {
    text-align: left;
    font-size: 18px;
    position: relative;
    padding: 10px 0;
    color: #333;
    z-index: 10;
}

.container-tab .tab .content h2 {
    text-align: left;
    font-size: 20px;
    position: relative;
    padding: 10px 0;
    color: #333;
    z-index: 10;
}