.container {
    display: block;
    align-items: center;
    justify-content: center;
}

.container-para h1 {
    color: #49BB99;
    font-size: 80px;
    margin: 20px;
    margin-top: 80px;
    margin-left: 15%;
}

.container-para p {
    width: 50rem;
    font-size: 2rem;
    margin-left: 25%;
    letter-spacing: .025em;
    text-align: center;
}

.slider {
    display: flex;
    overflow: hidden;
}

.slider .slick-imag {
    justify-content: space-between;
    margin: 10px;
}

.slider .slick-imag img {
    border: 1px solid #2d2c2c;
    border-radius: 5px;
    height: 450px;
    width: 275px;
    cursor: pointer;
    display: inline;
    padding: 10px;
}