@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.container {
    display: inline;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    height: auto;
    max-width: 500px;
    background-color: rgb(240, 237, 237);
}


.container-user {
    display: flex;
    /* margin: 35px 0px 0px 45px; */
    height: 230px;
    width: auto;
    margin-top: 50px;
    overflow: visible;
    padding: 20px 20px 20px 30px;
    min-height: 264px;
    background: var(--N100);
    box-shadow: 0 6px 12px rgba(30, 10, 58, .04);
    /* border-radius: 20px; */
    background-color: #fff;
}

.container-left {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    /* position: absolute; */
    top: 0px;
}

.container-left:hover .hover-icon {
    display: block;
}

.container-left img {
    display: flex;
    margin: 50px;
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.container-left:hover img {
    filter: brightness(60%);
}

.hover-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    cursor: pointer;
}

.hover-icon i {
    display: inline;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    border-radius: 50%;
    font-size: 20px;
    height: 5vh;
    width: 5vh;
    text-decoration: none;
}

.hover-icon i:hover {
    color: blue;
}

.container-right {
    display: inline;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 0;
    /* left: 25%; */
}

.container-right h5 {
    margin-top: 50px;
    font-size: 25px;
    text-align: initial;
    font-weight: bold;
}

.container-right i {
    cursor: pointer;
    color: #000;
}

.container-right hr {
    width: 100vh;
    margin: 10px 0px 10px;
}

.user-details {
    display: inline-flex;
    justify-content: space-between;
}

.user-details-left {
    text-align: center;
    position: relative;
}

.user-details-left p {
    padding: 0px 10px 20px;
    font-size: 15px;
}

.user-details hr {
    top: 0;
    width: 0;
    height: 100px;
}

.user-details-right {
    text-align: center;
    position: relative;
}

.user-details-right p {
    padding: 0px 10px 20px;
    font-size: 15px;
}

.container-headline {
    display: flex;
    margin: 35px 0px 0px 45px;
    height: 230px;
    width: 155vh;
    overflow: hidden;
    padding: 20px 20px 20px 30px;
    min-height: 264px;
    background: var(--N100);
    box-shadow: 0 6px 12px rgba(30, 10, 58, .04);
    border-radius: 20px;
    background-color: #fff;
}

/* cart */
.cart {
    display: flex;
    /* height: 150px; */
    width: 160vh;
    /* background-color: #ccc; */
    padding: 25px 150px;
}

.left-cart {
    display: flex;
    background-color: white;
    padding: 12px 3px;
    width: 175px;
    height: 500px;
    box-shadow: 0 6px 12px rgba(30, 10, 58, .04);
    margin: 30px 0px 0px 35px;
    border-radius: 20px
}

.right-cart {
    display: inline;
    align-items: center;
    justify-content: center;
}

.right-cart-hedline {
    background-color: white;
    padding: 10px;
    box-shadow: 0 6px 12px rgba(30, 10, 58, .04);
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 20px;
    width: 120vh;
}

.right-cart-hedline p {
    margin: 10px 10px 0px;
}

table {
    width: 100%;
    height: 100px;
}

td,
a {
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    border: 1px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    color: #000;
}

td:hover {
    border-radius: 20px;
    background-color: #e5e5e5;
}

.headline {
    font-weight: bold;
    margin-bottom: 10px;
}

.headline .space {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

/* 
*
*
*
*
* */

/* Hover Buttton */
#cart {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 100vh;
    /* height: 90vh; */
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 50px;
    padding: 80px;
    display: none;
    border-radius: 20px;
    border: 1px solid black;
}

#cart h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#addHeadlineBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: blue;
    font-size: 20px;
}

#cart.hidden {
    display: none;
}

#cart.visible {
    display: block;
    background-color: blair;
}

#closeBtn {
    margin-top: 20px;
}

/* Hover Buttton */
#cartProfile {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 100vh;
    /* height: 90vh; */
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 50px;
    padding: 80px;
    display: none;
    border-radius: 20px;
    border: 1px solid black;
}

#cartProfile h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#addProfileBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: blue;
    font-size: 20px;
}

#cartProfile.hidden {
    display: none;
}

#cartProfile.visible {
    display: block;
    background-color: blair;
}

#closeProfile {
    margin-top: 20px;
}

/* Hover Buttton */
#cartEducation {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 100vh;
    /* height: 90vh; */
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 50px;
    padding: 80px;
    display: none;
    border-radius: 20px;
    border: 1px solid black;
}

#cartEducation h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#addEducationBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: blue;
    font-size: 20px;
}

#cartEducation.hidden {
    display: none;
}

#cartEducation.visible {
    display: block;
    background-color: blair;
}

#closecart {
    margin-top: 20px;
}

/* Hover Buttton */
#cartExperience {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 100vh;
    /* height: 90vh; */
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 50px;
    padding: 80px;
    display: none;
    border-radius: 20px;
    border: 1px solid black;
}

#cartExperience h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#addExperienceBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: blue;
    font-size: 20px;
}

#cartExperience.hidden {
    display: none;
}

#cartExperience.visible {
    display: block;
    background-color: blair;
}

#closeExperience {
    margin-top: 20px;
}

/* Hover Buttton */
#cartskills {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 100vh;
    /* height: 90vh; */
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 50px;
    padding: 80px;
    display: none;
    border-radius: 20px;
    border: 1px solid black;
}

#cartskills h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#addskillsBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: blue;
    font-size: 20px;
}

#cartskills.hidden {
    display: none;
}

#cartskills.visible {
    display: block;
    background-color: blair;
}

#closeskills {
    margin-top: 20px;
}

/* Hover Buttton */
#cartITSkill {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 100vh;
    /* height: 90vh; */
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 50px;
    padding: 80px;
    display: none;
    border-radius: 20px;
    border: 1px solid black;
}

#cartITSkill h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#addITSkillBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: blue;
    font-size: 20px;
}

#cartITSkill.hidden {
    display: none;
}

#cartITSkill.visible {
    display: block;
    background-color: blair;
}

#closeITSkill {
    margin-top: 20px;
}

/* Hover Buttton */
#cartProject {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 100vh;
    /* height: 90vh; */
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 50px;
    padding: 80px;
    display: none;
    border-radius: 20px;
    border: 1px solid black;
}

#cartProject h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#addProjectBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: blue;
    font-size: 20px;
}

#cartProject.hidden {
    display: none;
}

#cartProject.visible {
    display: block;
    background-color: blair;
}

#closeProject {
    margin-top: 20px;
}

/* Hover Buttton */
#cartPhoto {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 100vh;
    /* height: 90vh; */
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 50px;
    padding: 80px;
    display: none;
    border-radius: 20px;
    border: 1px solid black;
}

#cartPhoto h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#addPhotoBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: blue;
    font-size: 20px;
}

#cartPhoto.hidden {
    display: none;
}

#cartPhoto.visible {
    display: block;
    background-color: blair;
}

#closePhoto {
    margin-top: 20px;
}

/* 
*
*
 *
 */
.form-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.form-group label {
    display: inline-block;
    width: 250px;
    font-size: 20px;
}

.form-group input {
    width: 223px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
}

input[type="headline"],
input[type="description"] {
    width: 1000px;
    height: 100px;
}

input[id="text"] {
    width: 350px;
    height: 20px;
}

select[id="date"] {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    background-color: transparent;
}

select[id="type"] {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    background-color: transparent;
}

select[id="year"],
select[id="month"] {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    background-color: transparent;
}

select[form="year"],
select[form="month"] {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 13px -19px 10px -16px;
    padding: 5px;
    background-color: transparent;
}

.form-group .btn {
    display: flex;
    align-items: center;
}


/* Hover Buttton */

.headline a {
    font-size: 18px;
}

.headline i {
    cursor: pointer;
}

.headline i:hover {
    color: aqua;
}

.fa-pencil {
    margin-right: 5px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
    resize: none;
}

.btn-type {
    display: flex;
    left: 0;
    top: 0;
}

.btn-type p {
    width: auto;
    margin: 10px 5px 10px;
    border: 2px solid rgb(141, 141, 141);
    border-radius: 100px;
    box-shadow: 0 6px 12px rgba(30, 10, 58, .04);
    background-color: #e5e5e5;
    padding: 5px 10px 5px;
}

body {
    background-color: #f0dee7;
}

.cart-style {
    background-color: white;
    margin-bottom: 5%;
    /* border: 1px solid black; */
    border-radius: 1px;
}

.color {
    color: blue;
    font-weight: bolder;
    font-size: 20px;
}

.right {
    display: flex;
    margin: 10px 0px 15px;
}

.tableitem th {
    padding: 8px;
    text-align: left;
    color: gray;
}

.tableitem th:hover {
    background-color: transparent;
    color: #000;
}