<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create Professional Resume And Download Free</title>
    <link rel="stylesheet" th:href="@{/css/homeStyle.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/loginStyle.css}" />
    <link rel="stylesheet" th:href="@{/css/formStyle.css}" />
</head>

<body>
    <!-- Create a navbar -->
    <nav class="navbar">
        <div class="navbar-left">
            <a th:href="@{/home}">
                <img th:src="@{'/images/logo.jpg'}" alt="Logo">
            </a>
        </div>
        <div class="navbar-center">
            <ul class="navbar-menu">
                <li><a th:href="@{/home}">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Tools
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-content">
                        <a th:href="@{/home/resume}">Resume</a>
                        <a href="#">C.V</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="profile-dropdown">
            <div class="dropbtn">
                <img th:src="@{'/images/network.png'}" alt="">
            </div>
            <div class="profile-content">
                <a th:href="@{/home}">Home</a>
                <a th:href="@{/home/form}">Form</a>
                <a th:href="@{/home/registra}">Sign Up</a>
                <a th:href="@{/home/login}">Log in</a>
            </div>
        </div>
    </nav>
    <!-- navbar end -->
    <!-- Login Form -->
    <div class="container">
        <form action="" th:action="@{/home/submit}" method="post" enctype="multipart/form-data">
            <!-- profile -->
            <div class="container-form">
                <h2 style="margin:15px 0 15px">Profile Details : </h2>

                <label for="title">Name :</label>
                <input type="name" th:field="*{profile.name}" placeholder="Name" />

                <label for="college">Total Experience :</label>
                <input type="text" th:field="*{profile.totalExperience}" placeholder="Total Experience" />

                <label for="location">Current Location :</label>
                <input type="location" th:field="*{profile.currentLocation}" placeholder="Current Location" />

                <label for="course">Mobile Number :</label>
                <input type="text" th:field="*{profile.mobileNumber}" placeholder="Mobile Number"></input>

                <label for="course">Email Address :</label>
                <input type="email" th:field="*{profile.emailAddress}" placeholder="Email Address" />
            </div>
            <!-- Employment -->
            <div class="container-form">
                <h2 style="margin:15px 0 15px">Employment : </h2>

                <label for="title">Employment Type :</label>
                <input type="name" th:field="*{eployment.employmentType}" placeholder="Employment Type" />

                <label for="college">Total Experience :</label>
                <input type="text" th:field="*{eployment.totalExperience}" placeholder="Total Experience" />

                <label for="location">Company Name :</label>
                <input type="text" th:field="*{eployment.companyName}" placeholder="Company Name" />

                <label for="course">Joining Date :</label>
                <input type="date" th:field="*{eployment.joiningDate}" placeholder="Joining Date" />

                <label for="course">Worked Till :</label>
                <input type="date" th:field="*{eployment.workedTill}" placeholder="Worked Till" />

                <label for="course">Job Profile :</label>
                <input type="text" th:field="*{eployment.jobProfile}" placeholder="Email Address" />

                <label for="course">Designation :</label>
                <input type="text" th:field="*{eployment.designation}" placeholder="Designation" />
            </div>
            <!-- profileImage -->
            <div class="container-form">
                <h2 style="margin:15px 0 15px">Profile Image : </h2>
                <input type="file" id="image" name="image" accept="profileimagemodel/*" required>
            </div>
            <!-- education -->
            <div class="container-form">
                <h2 style="margin:15px 0 15px">Education : </h2>

                <label for="title">Education Title :</label>
                <input type="text" th:field="*{education.title}" placeholder="Title" />

                <label for="college">Collage :</label>
                <input type="text" th:field="*{education.collage}" placeholder="Collage" />

                <label for="location">Location :</label>
                <input type="location" th:field="*{education.location}" placeholder="Location" />

                <label for="course">Course :</label>
                <input type="text" th:field="*{education.course}" placeholder="Course" />

                <label for="course">Description:</label>
                <input type="text" th:field="*{education.description}" placeholder="Description" />
            </div>
            <!-- itSkills -->
            <div class="container-form">
                <h2 style="margin:15px 0 15px">It Skills : </h2>

                <label for="title">Skills :</label>
                <input type="text" th:field="*{itSkills.skills}" placeholder="Skills" />

                <label for="college">Version :</label>
                <input type="version" th:field="*{itSkills.version}" placeholder="Version" />

                <label for="location">Last Used :</label>
                <input type="year" th:field="*{itSkills.lastused}" placeholder="Last Used" />

                <label for="course">Experience :</label>
                <input type="text" th:field="*{itSkills.experience}" placeholder="Experience" />
            </div>
            <!-- resumeheadline -->
            <div class="container-form">
                <h2 style="margin:15px 0 15px">Resume Headline : </h2>
                <input type="text" th:field="*{resumeheadline.headline}" placeholder="Headline" />
            </div>
            <!-- project -->
            <div class="container-form">
                <h2 style="margin:15px 0 15px">Project : </h2>

                <label for="title">Proeject Title :</label>
                <input type="text" th:field="*{project.proejectTitle}" placeholder="Proeject Title" />

                <label for="college">Worked Time :</label>
                <input type="date" th:field="*{project.workedTime}" placeholder="Worked Time" />

                <label for="location">Worked From :</label>
                <input type="year" th:field="*{project.workedFrom}" placeholder="Worked From" />

                <label for="course">Details Of Project :</label>
                <input type="text" th:field="*{project.detailsOfroject}" placeholder="Details Of Project" />
            </div>

            <!-- keySkills -->
            <div class="container-form">
                <h2 style="margin:15px 0 15px">Key Skill : </h2>
                <input type="skill" th:field="*{keySkills.skill}" placeholder="Proeject Title" />
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    <!-- Login Form -->
    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="resources">
                <h3>Resources</h3>
                <ul>
                    <li><a th:href="@{/home/resume}">Resume</a></li>
                    <li><a href="cv.html">CV</a></li>
                </ul>
            </div>
            <div class="support">
                <h3>Support</h3>
                <ul>
                    <li><a href="contact.html">Contact us</a></li>
                    <li><a href="terms.html">Terms of Use</a></li>
                    <li><a href="privacy.html">Privacy</a></li>
                </ul>
            </div>
            <div class="additional-links">
                <h3>Social Media</h3>
                <ul>
                    <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin-square" aria-hidden="true"
                                style="color: blue;"></i>
                        </a></li>
                    <li><a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"
                                style="color: #C13584;"></i>
                        </a></li>
                    <li><a href="https://www.facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"
                                style="color: blue;"></i>
                        </a></li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Footer -->
</body>
<script th:src="@{/js/jquery-3.7.0.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</html>