<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create Professional Resume And Download Free</title>
    <link rel="stylesheet" th:href="@{/css/homeStyle.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/homeContentStyle.css}">
    <link rel="stylesheet" th:href="@{/css/help.css}">
</head>

<body>
    <!-- Create a navbar -->
    <nav class="navbar">
        <div class="navbar-left">
            <a th:href="@{/home}">
                <img th:src="@{'/images/logo.jpg'}" alt="Logo">
            </a>
        </div>
        <div class="navbar-center">
            <ul class="navbar-menu">
                <li><a th:href="@{/home}">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Tools
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-content">
                        <a href="#">Resume</a>
                        <a href="#">C.V</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="navbar-right">
            <a th:href="@{/login}">
                <button class="login-button">Login</button>
            </a>
        </div>
    </nav>
    <!-- navbar end -->
    <div class="container">
        <div class="container-para">
            <h1>Creating a Professional Resume</h1>
            <p>Fill in the blanks, choose a template, and download your resume instantly.</p>
        </div>
        <div class="center">
            <a href="">
                <button class="btn btn-c1" type="submit">Create resume</button>
            </a>
        </div>
        <div class="slider">
            <div class="slick-imag">
                <a href=""><img
                        src="https://github.com/GauravPant47/Image-Links/assets/115808373/f810df3e-c150-4a16-b4c1-9b76f1c12e27"
                        alt="Image 1"></a>
                <a href=""><img
                        src="https://github.com/GauravPant47/Image-Links/assets/115808373/bdbcc282-0e40-48b4-b721-e4344e35da1e"
                        alt="Image 2"></a>
                <a href=""><img
                        src="https://github.com/GauravPant47/Image-Links/assets/115808373/a899b288-d561-4ef5-834b-f2d07c9f2dae"
                        alt="Image 3"></a>
                <a href=""><img
                        src="https://github.com/GauravPant47/Image-Links/assets/115808373/dadffab1-3083-477f-ae7e-96f2a91de7fd"
                        alt="Image 4"></a>
            </div>
            <div class="slick-imag">
                <a href=""><img
                        src="https://github.com/GauravPant47/Image-Links/assets/115808373/7ac9b54a-c946-43b8-9aa7-01fa5e74dc00"
                        alt="Image 5"></a>
                <a href=""><img
                        src="https://github.com/GauravPant47/Image-Links/assets/115808373/6ab53f3e-b35a-436d-ac02-f3b8a50fa91d"
                        alt="Image 6"></a>
                <a href=""><img
                        src="https://github.com/GauravPant47/Image-Links/assets/115808373/3c40c552-469e-42e4-9734-8839fd8bd3a3"
                        alt="Image 7"></a>
                <a href=""><img
                        src="https://github.com/GauravPant47/Image-Links/assets/115808373/3b100f57-92d4-4dc1-8eb6-340d12679985"
                        alt="Image 8"></a>
            </div>
            <div class="slick-imag">
                <a href=""><img
                        src="https://github.com/GauravPant47/Image-Links/assets/115808373/9b0cd6a3-e776-4382-8541-07725e528a4c"
                        alt="Image 9"></a>
                <a href=""><img
                        src="https://github.com/GauravPant47/Image-Links/assets/115808373/0019db22-f722-4970-9419-6d165e48f69e"
                        alt="Image 10"></a>
                <a href=""><img
                        src="https://github.com/GauravPant47/Image-Links/assets/115808373/1d716684-312e-4dad-845c-905d1d9165a7"
                        alt="Image 11"></a>
                <a href=""><img
                        src="https://github.com/GauravPant47/Image-Links/assets/115808373/c6eb0875-43d4-4d05-8322-fa6935e24fb3"
                        alt="Image 12"></a>
            </div>
        </div>

    </div>

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="resources">
                <h3>Resources</h3>
                <ul>
                    <li><a href="resume.html">Resume</a></li>
                    <li><a href="cv.html">CV</a></li>
                </ul>
            </div>
            <div class="support">
                <h3>Support</h3>
                <ul>
                    <li><a href="contact.html">Contact us</a></li>
                    <li><a href="terms.html">Terms of Use</a></li>
                    <li><a href="privacy.html">Privacy</a></li>
                </ul>
            </div>
            <div class="additional-links">
                <h3>Social Media</h3>
                <ul>
                    <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin-square" aria-hidden="true"
                                style="color: blue;"></i>
                        </a></li>
                    <li><a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"
                                style="color: #C13584;"></i>
                        </a></li>
                    <li><a href="https://www.facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"
                                style="color: blue;"></i>
                        </a></li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Footer -->
</body>
<script th:src="@{/js/jquery-3.7.0.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</html>