<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="css/homeStyle.css">
</head>

<body>
    <div class="navbar">
        <img src="path_to_your_image.png" alt="Logo">
        <a href="#">Home</a>
        <div class="tools">
            <a href="#">Resume</a>
            <a href="#">CV</a>
        </div>
        <div class="login-btn">
            <a href="#">Login</a>
        </div>
    </div>
</body>
<script src="js/jquery-3.7.0.min.js"></script>
</html>