<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>Create Professional Resume And Download Free</title>
	<link rel="stylesheet" th:href="@{/css/homeStyle.css}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/homeContentStyle.css}">
	<link rel="stylesheet" th:href="@{/css/help.css}">
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
</head>

<body>
	<!-- Create a navbar -->
	<nav class="navbar">
		<div class="navbar-left">
			<a th:href="@{/home}"> <img th:src="@{'/images/logo.jpg'}" alt="Logo">
			</a>
		</div>
		<div class="navbar-center">
			<ul class="navbar-menu">
				<li><a th:href="@{/home}">Home</a></li>
				<li class="dropdown"><a href="#" class="dropbtns">Tools <i class="fa fa-sort-desc"
							aria-hidden="true"></i>
					</a>
					<div class="dropdown-content">
						<a th:href="@{/home/resume}">Online Resume</a> <a href="#">C.V</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="profile-dropdown">
			<div class="dropbtn">
				<img th:src="@{'/images/network.png'}" alt="">
			</div>
			<div class="profile-content">
				<div sec:authorize="isAuthenticated()">
					<form th:action="@{/logout}" method="POST">
						<div>
							<label>Welcome,<br> <span sec:authentication="name"> Username</span></label>
						</div>
						<button type="submit">Logout</button>
					</form>
					<a th:href="@{/home}">Home</a>
					<a th:href="@{/home/resume}">Online Resume</a>
					<a th:href="@{/home/moreResumes}">Resume</a>
				</div>
				<div sec:authorize="!isAuthenticated()">
					<a th:href="@{/home}">Home</a>
					<a th:href="@{/registra}">Sign Up</a>
					<a th:href="@{/login}">Log in</a>
				</div>

			</div>
		</div>

	</nav>
	<!-- navbar end -->
	<div class="container">
		<div class="container-para">
			<h1>Creating a Professional Resume</h1>
			<p>Fill in the blanks, choose a template, and download your
				resume instantly.</p>
		</div>
		<div class="center">
			<a th:href="@{/home/resume}">
				<button class="btn btn-c1" type="submit">Create resume</button>
			</a>
		</div>
		<div class="slider">
			<div class="slick-imag">
				<a th:href="@{/home/resumef}"><img th:src="@{'/images/resume15.png'}" alt="Image 1"></a>
				<a th:href="@{/home/resumet}"><img th:src="@{'/images/resume14.png'}" alt="Image 2"></a>
				<a href=""><img th:src="@{'/images/resume13.png'}" alt="Image 3"></a>
				<a href=""><img th:src="@{'/images/resume12.png'}" alt="Image 4"></a>
				<a href=""><img th:src="@{'/images/resume11.png'}" alt="Image 6"></a>
			</div>
			<div class="slick-imag">
				<a href=""><img th:src="@{'/images/resume10.png'}" alt="Image 5"></a>
				<a href=""><img th:src="@{'/images/resume9.png'}" alt="Image 6"></a>
				<a href=""><img th:src="@{'/images/resume8.png'}" alt="Image 7"></a>
				<a href=""><img th:src="@{'/images/resume7.png'}" alt="Image 8"></a>
				<a href=""><img th:src="@{'/images/resume6.png'}" alt="Image 11"></a>
			</div>
			<div class="slick-imag">
				<a href=""><img th:src="@{'/images/resume5.png'}" alt="Image 9"></a>
				<a href=""><img th:src="@{'/images/resume4.png'}" alt="Image 10"></a>
				<a href=""><img th:src="@{'/images/resume3.png'}" alt="Image 11"></a>
				<a href=""><img th:src="@{'/images/resume2.png'}" alt="Image 12"></a>
				<a href=""><img th:src="@{'/images/resume1.png'}" alt="Image 7"></a>
			</div>
		</div>

		<div class="container-uses">
			<p>How to make it work</p>
		</div>
		<div class="container-body">
			<div class="container-tab">
				<p>How to Create an Effective Resume?</p>
				<div class="tab">
					<input type="radio" name="acc" id="acc1"> <label for="acc1">
						<h2>01</h2>
						<h3>What is a resume?</h3>
					</label>
					<div class="content">
						<br>
						<p>A resume, also known as a curriculum vitae (CV) in some
							regions, is a document that provides a summary of a person's
							education, work experience, skills, achievements, and
							qualifications. It is typically used when applying for jobs and
							serves as a marketing tool to showcase an individual's background
							and suitability for a specific position.</p>
					</div>
				</div>
				<div class="tab">
					<input type="radio" name="acc" id="acc2"> <label for="acc2">
						<h2>02</h2>
						<h3>Why is a good resume important?</h3>
					</label>
					<div class="content">
						<br>
						<p>A good resume is important because it serves as your first
							impression when applying for a job. In a simple way, it's like a
							snapshot of your skills, qualifications, and experiences that can
							convince employers to consider you as a potential candidate. It
							highlights your relevant achievements and demonstrates why you
							are the right fit for the position. A well-crafted resume can
							increase your chances of getting noticed by employers, securing
							job interviews, and ultimately landing your desired job.</p>
					</div>
				</div>
				<div class="tab">
					<input type="radio" name="acc" id="acc3"> <label for="acc3">
						<h2>03</h2>
						<h3>How can i make a change to my application?</h3>
					</label>
					<div class="content">
						<br>
						<p>A good resume is important because it serves as your
							personal marketing tool when applying for a job. It is typically
							the first impression that potential employers have of you, and it
							can significantly impact your chances of getting an interview.
							Here's a simple example to illustrate the importance of a good
							resume:</P>
						<p>Imagine you are an employer with a limited amount of time
							to review numerous resumes for a single job opening. You receive
							two resumes that are quite similar in terms of qualifications and
							experience, but one is well-organized, visually appealing, and
							effectively highlights the applicant's relevant skills and
							achievements. The other resume, however, is cluttered, poorly
							formatted, and lacks clear structure.</P>
						<p>Given the time constraints, which resume do you think the
							employer will be more inclined to spend time reading and consider
							for an interview? The well-presented resume is likely to grab the
							employer's attention and make a positive impression, increasing
							the chances of the applicant being invited for an interview.</P>
						<p>This example highlights how a good resume can help you
							stand out from other candidates and make a strong initial
							impression on potential employers. It showcases your
							qualifications, skills, and accomplishments in a clear and
							concise manner, making it easier for employers to assess your
							suitability for the job. Ultimately, a well-crafted resume
							increases your chances of advancing to the next stage of the
							hiring process and ultimately landing the job you desire.</P>
					</div>
				</div>
				<div class="tab">
					<input type="radio" name="acc" id="acc4"> <label for="acc4">
						<h2>04</h2>
						<h3>How to format and structure a resume?</h3>
					</label>
					<div class="content">
						<br>
						<ul>
							<li>The format and structure of a professional resume is
								important. The content is what gets you the job, but an
								aesthetically pleasing resume shows that you took the time to
								get it right, and that you have the basic computer skills to
								make it look good. Here are some formatting tips when it comes
								to writing a resume:</li>
						</ul>
						<ul>
							<li>* Content should be left-aligned</li>
						</ul>
						<ul>
							<li>* Margins should be at one inch</li>
						</ul>
						<ul>
							<li>* Use an easy-to-read, professional font.</li>
						</ul>
						<ul>
							<li>* Clearly divide each section</li>
						</ul>
						<ul>
							<li>* Use clear headers for every section</li>
						</ul>
						<ul>
							<li>* Use bullet points whenever possible for conciseness</li>
						</ul>
						<ul>
							<li>* Try to keep your resume to one page</li>
						</ul>
						<p>There are many professional fonts you can use, including
							Cambria, Times New Roman, Calibri, Georgia, Arial, Lato and
							Didot. Your name and header sections should be larger, but keep
							the basic font size between 10 and 12 points for normal text.
							Headers and section titles should be between 14-16 points.</p>
						<p>Between text, use 1.0 or 1.15 line spacing, and adjust that
							to double lines after any subheadings. You can increase or
							decrease if your resume is too full or too empty.</p>
					</div>
				</div>
				<div class="tab">
					<input type="radio" name="acc" id="acc5"> <label for="acc5">
						<h2>05</h2>
						<h3>What types of resumes are there?</h3>
					</label>
					<div class="content">
						<br>
						<h2>1. Chronological Resume:</h2>
						<p>Petition to change your name by filling out a name change
							form, an order to show cause for legally changing your name, and
							a decree to legally change your name. Take these forms to the
							court clerk and file them along with your state's required filing
							fees.</p>
						<h2>2. Combination Resume:</h2>
						<p>As the name suggests, a combination resume combines
							elements of both the chronological and functional formats. It
							highlights both your work history and skills. It begins with a
							skills summary or qualifications section followed by a
							chronological listing of your work experience.</p>
						<h2>3. Targeted Resume:</h2>
						<p>A targeted resume is tailored to a specific job or
							industry. It highlights the skills and experiences that are most
							relevant to the position you are applying for. You customize your
							resume for each application to match the requirements of the job
							posting.</p>
						<h2>4. Online/Electronic Resume</h2>
						<p>With the rise of digital platforms, online resumes are
							becoming more popular. These resumes are specifically designed
							for online applications and may include hyperlinks to your
							portfolio, LinkedIn profile, or other relevant websites. They can
							be easily shared and accessed online.</p>
					</div>
				</div>
				<!-- <div class="tab">
                    <input type="radio" name="acc" id="acc6">
                    <label for="acc6">
                        <h2>06</h2>
                        <h3>How can i update my name?</h3>
                    </label>
                    <div class="content">
                        <p>Petition to change your name by filling out a name change form, an order to show cause for
                            legally
                            changing your name, and a decree to legally change your name.
                            Take these forms to the court clerk and file them along with your state's required filing
                            fees.
                        </p>
                    </div>
                </div> -->
			</div>
		</div>
	</div>
	</div>
	<!-- Footer -->
	<footer>
		<div class="footer-container">
			<div class="resources">
				<h3>Resources</h3>
				<ul>
					<li><a th:href="@{/home/resume}">Resume</a></li>
					<li><a href="cv.html">CV</a></li>
				</ul>
			</div>
			<div class="support">
				<h3>Support</h3>
				<ul>
					<li><a href="contact.html">Contact us</a></li>
					<li><a href="terms.html">Terms of Use</a></li>
					<li><a href="privacy.html">Privacy</a></li>
				</ul>
			</div>
			<div class="additional-links">
				<h3>Social Media</h3>
				<ul>
					<li><a href="https://www.linkedin.com"><i class="fa fa-linkedin-square" aria-hidden="true"
								style="color: blue;"></i> </a></li>
					<li><a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"
								style="color: #C13584;"></i> </a></li>
					<li><a href="https://www.facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"
								style="color: blue;"></i> </a></li>
				</ul>
			</div>
		</div>
	</footer>

	<!-- Footer -->
</body>
<script th:src="@{/js/jquery-3.7.0.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

</html>