<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" th:href="@{/css/homeStyle.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/homeContentStyle.css}">
    <link rel="stylesheet" th:href="@{/css/help.css}">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/resumeStyle.css}">
</head>

<body>
    <!-- Create a navbar -->
    <nav class="navbar">
        <div class="navbar-left">
            <a th:href="@{/home}">
                <img th:src="@{'/images/logo.jpg'}" alt="Logo">
            </a>
        </div>
        <div class="navbar-center">
            <ul class="navbar-menu">
                <li><a th:href="@{/home}">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Tools
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-content">
                        <a th:href="@{/home/resume}">Resume</a>
                        <a href="#">C.V</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="profile-dropdown">
            <div class="dropbtn">
                <img th:src="@{'/images/network.png'}" alt="">
            </div>
            <div class="profile-content">
                <a th:href="@{/home}">Home</a>
                <a th:href="@{/home/form}">Form</a>
                <a th:href="@{/home/registra}">Sign Up</a>
                <a th:href="@{/home/login}">Log in</a>
            </div>
        </div>
    </nav>
    <!-- navbar end -->

    <!-- main Content -->
    <div class="container">
        <div class="container-user" id="user">
            <div class="container-left">
                <img src="https://private-user-images.githubusercontent.com/115808373/252128008-4873b285-8053-4d05-9860-a154c41706f2.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJrZXkiOiJrZXkxIiwiZXhwIjoxNjg4ODgxNDgyLCJuYmYiOjE2ODg4ODExODIsInBhdGgiOiIvMTE1ODA4MzczLzI1MjEyODAwOC00ODczYjI4NS04MDUzLTRkMDUtOTg2MC1hMTU0YzQxNzA2ZjIucG5nP1gtQW16LUFsZ29yaXRobT1BV1M0LUhNQUMtU0hBMjU2JlgtQW16LUNyZWRlbnRpYWw9QUtJQUlXTkpZQVg0Q1NWRUg1M0ElMkYyMDIzMDcwOSUyRnVzLWVhc3QtMSUyRnMzJTJGYXdzNF9yZXF1ZXN0JlgtQW16LURhdGU9MjAyMzA3MDlUMDUzOTQyWiZYLUFtei1FeHBpcmVzPTMwMCZYLUFtei1TaWduYXR1cmU9ZDhmZjA0N2JjZmVhOWYxYzljOTNiYzdkYjFjZTQ2Nzg3YTEwNmE3MmZiNzFjYWJiNGVkMGI3MjA5MzhiZWE3NSZYLUFtei1TaWduZWRIZWFkZXJzPWhvc3QmYWN0b3JfaWQ9MCZrZXlfaWQ9MCZyZXBvX2lkPTAifQ.1J5K5tTzQo-6dJYNITrIeezwO1sOiOeffrU4MMTNoAI"
                    alt="">
                <div class="hover-icon">
                    <a href="#"><i class="fa fa-pencil">Profile Photo</i></a>
                </div>
            </div>
            <div class="container-right">
                <!-- <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a> -->
                <div class="space">
                    <h5>Full Name</h5>
                    <i id="addHeadlineBtn" class="fa fa-pencil" aria-hidden="true"></i>
                    <!-- <a href="" id="addHeadlineBtn" style="color: blue;">Add Education</a> -->
                    <!--	<button id="addHeadlineBtn">Add Education</button>-->
                    <div id="cart" class="hidden">
                        <h2>Cart</h2>
                        <form id="cartForm" action="" th:action="@{/home/submit}" method="post">
                            <h2 style="margin:15px 0 15px">Profile Details : </h2>
                            <div class="form-group">
                                <label for="title">Name :</label>
                                <input type="name" th:field="*{profile.name}" placeholder="Name" />
                            </div>
                            <div class="form-group">
                                <label for="college">Total Experience :</label>
                                <input type="text" th:field="*{profile.totalExperience}"
                                    placeholder="Total Experience" />
                            </div>
                            <div class="form-group">
                                <label for="location">Current Location :</label>
                                <input type="location" th:field="*{profile.currentLocation}"
                                    placeholder="Current Location" />
                            </div>
                            <div class="form-group">
                                <label for="course">Mobile Number :</label>
                                <input type="text" th:field="*{profile.mobileNumber}"
                                    placeholder="Mobile Number"></input>
                            </div>
                            <div class="form-group">
                                <label for="course">Email Address :</label>
                                <input type="email" th:field="*{profile.emailAddress}" placeholder="Email Address" />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-c1" type="submit">ubmit</button>
                                <button class="btn btn-c1" id="closeBtn">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
                <hr>
                <div class="user-details">
                    <div class="user-details-left">
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Current Location</p>
                        <p><i class="fa fa-briefcase" aria-hidden="true"></i> Total Experience</p>
                    </div>
                    <hr>
                    <div class="user-details-right">
                        <p><i class="fa fa-mobile" aria-hidden="true"></i> Mobile Number</p>
                        <p><i class="fa fa-envelope" aria-hidden="true"></i> Email Address</p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="cart">
                <div class="left-cart">
                    <table>
                        <tr>
                            <td><a href="#user">User Details</a></td>
                        </tr>
                        <tr>
                            <td><a href="#hedline">Resume headline</a></td>
                        </tr>
                        <tr>
                            <td><a href="#skills">Key skills</a></td>
                        </tr>
                        <tr>
                            <td><a href="#employment">Employment</a></td>
                        </tr>
                        <tr>
                            <td><a href="#education">Education</a></td>
                        </tr>
                        <tr>
                            <td><a href="#project">Project</a></td>
                        </tr>
                        <tr>
                            <td><a href="#itskil">IT Skill</a></td>
                        </tr>
                    </table>
                </div>
                <div class="right-cart">
                    <div class="right-cart-hedline">
                        <div class="headline" id="hedline">
                            <div class="space">
                                <h3>Resume headline</h3>
                                <i id="addHeadlineBtn" class="fa fa-pencil" aria-hidden="true"></i>
                                <!-- <a href="" id="addHeadlineBtn" style="color: blue;">Add Education</a> -->
                                <!-- <button id="addHeadlineBtn">Add Education</button> -->
                                <div id="cart" class="hidden">
                                    <h2>Cart</h2>
                                    <form id="cartForm" action="" th:action="@{/home/headline}" method="post">
                                        <h2 style="margin:15px 0 15px">Resume headline : </h2>
                                        <div class="form-group">
                                            <!-- <label for="title">Name :</label> -->
                                            <input type="name" th:field="*{resumeheadline.headline}" placeholder="Name" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <p>Secure a responsible career opportunity to fully utilize my training and skills, while making
                            a
                            significant contribution to the success of the company.</p>
                    </div>
                    <div class="right-cart-hedline">
                        <div class="headline" id="skills">
                            <div class="space">
								<h3>Education</h3>
                                <a href=""><i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <!-- <a href="" id="addHeadlineBtn" style="color: blue;">Add Education</a> -->
                                <button id="addHeadlineBtn">Add Education</button>
                                <div id="cart" class="hidden">
                                    <h2>Cart</h2>
                                    <form id="cartForm" action="" th:action="@{/home/education}" th:object="${education}" method="post">
                                        <h2 style="margin:15px 0 15px">Profile Details : </h2>

                                        <div class="form-group">
                                            <label for="title">Name :</label>
                                            <input type="name" th:field="*{title}" placeholder="Name" />
                                        </div>
                                        <div class="form-group">
                                            <label for="college">Total Experience :</label>
                                            <input type="text" th:field="*{collage}"
                                                placeholder="Total Experience" />
                                        </div>
                                        <div class="form-group">
                                            <label for="location">Current Location :</label>
                                            <input type="location" th:field="*{location}"
                                                placeholder="Current Location" />
                                        </div>
                                        <div class="form-group">
                                            <label for="course">Mobile Number :</label>
                                            <input type="text" th:field="*{course}"
                                                placeholder="Mobile Number"></input>
                                        </div>
                                        <div class="form-group">
                                            <label for="course">Email Address :</label>
                                            <input type="email" th:field="*{description}"
                                                placeholder="Email Address" />
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-c1" type="submit">ubmit</button>
                                            <button class="btn btn-c1" id="closeBtn">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="btn-type">
                            <p>Redis</p>
                            <p>MySQL</p>
                            <p>Mogodb</p>
                            <p>Java Script</p>
                        </div>
                    </div>
                    <div class="right-cart-hedline">
                        <div class="headline" id="education">
                            <div class="space">
                                <a href="">Education <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <!-- <a href="" id="addHeadlineBtn" style="color: blue;">Add Education</a> -->
                                <button id="addHeadlineBtn">Add Education</button>
                                <div id="cart" class="hidden">
                                    <h2>Cart</h2>
                                    <form id="cartForm" action="" th:action="@{/home/submit}" method="post">
                                        <h2 style="margin:15px 0 15px">Profile Details : </h2>

                                        <div class="form-group">
                                            <label for="title">Name :</label>
                                            <input type="name" th:field="*{profile.name}" placeholder="Name" />
                                        </div>
                                        <div class="form-group">
                                            <label for="college">Total Experience :</label>
                                            <input type="text" th:field="*{profile.totalExperience}"
                                                placeholder="Total Experience" />
                                        </div>
                                        <div class="form-group">
                                            <label for="location">Current Location :</label>
                                            <input type="location" th:field="*{profile.currentLocation}"
                                                placeholder="Current Location" />
                                        </div>
                                        <div class="form-group">
                                            <label for="course">Mobile Number :</label>
                                            <input type="text" th:field="*{profile.mobileNumber}"
                                                placeholder="Mobile Number"></input>
                                        </div>
                                        <div class="form-group">
                                            <label for="course">Email Address :</label>
                                            <input type="email" th:field="*{profile.emailAddress}"
                                                placeholder="Email Address" />
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-c1" type="submit">ubmit</button>
                                            <button class="btn btn-c1" id="closeBtn">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="cart-style">
                            <a class="right color">Title</a>
                            <p class="right">College</p>
                            <p class="right">Location</p>
                            <p class="right">Course</p>
                            <p class="right">Description</p>
                        </div>
                    </div>
                    <div class="right-cart-hedline">
                        <div class="headline" id="employment">
                            <div class="space">
                                <a href="">Education <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <!-- <a href="" id="addHeadlineBtn" style="color: blue;">Add Education</a> -->
                                <button id="addHeadlineBtn">Add Education</button>
                                <div id="cart" class="hidden">
                                    <h2>Cart</h2>
                                    <form id="cartForm" action="" th:action="@{/home/submit}" method="post">
                                        <h2 style="margin:15px 0 15px">Profile Details : </h2>

                                        <div class="form-group">
                                            <label for="title">Name :</label>
                                            <input type="name" th:field="*{profile.name}" placeholder="Name" />
                                        </div>
                                        <div class="form-group">
                                            <label for="college">Total Experience :</label>
                                            <input type="text" th:field="*{profile.totalExperience}"
                                                placeholder="Total Experience" />
                                        </div>
                                        <div class="form-group">
                                            <label for="location">Current Location :</label>
                                            <input type="location" th:field="*{profile.currentLocation}"
                                                placeholder="Current Location" />
                                        </div>
                                        <div class="form-group">
                                            <label for="course">Mobile Number :</label>
                                            <input type="text" th:field="*{profile.mobileNumber}"
                                                placeholder="Mobile Number"></input>
                                        </div>
                                        <div class="form-group">
                                            <label for="course">Email Address :</label>
                                            <input type="email" th:field="*{profile.emailAddress}"
                                                placeholder="Email Address" />
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-c1" type="submit">ubmit</button>
                                            <button class="btn btn-c1" id="closeBtn">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="cart-style">
                            <a class="right color">Title</a>
                            <p class="right">Company Name</p>
                            <p class="right">Location</p>
                            <p class="right">Working Year</p>
                            <p class="right">Description</p>
                        </div>
                    </div>
                    <div class="right-cart-hedline">
                        <div class="headline" id="project">
                            <div class="space">
                                <a href="">Education <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <!-- <a href="" id="addHeadlineBtn" style="color: blue;">Add Education</a> -->
                                <button id="addHeadlineBtn">Add Education</button>
                                <div id="cart" class="hidden">
                                    <h2>Cart</h2>
                                    <form id="cartForm" action="" th:action="@{/home/submit}" method="post">
                                        <h2 style="margin:15px 0 15px">Profile Details : </h2>

                                        <div class="form-group">
                                            <label for="title">Name :</label>
                                            <input type="name" th:field="*{profile.name}" placeholder="Name" />
                                        </div>
                                        <div class="form-group">
                                            <label for="college">Total Experience :</label>
                                            <input type="text" th:field="*{profile.totalExperience}"
                                                placeholder="Total Experience" />
                                        </div>
                                        <div class="form-group">
                                            <label for="location">Current Location :</label>
                                            <input type="location" th:field="*{profile.currentLocation}"
                                                placeholder="Current Location" />
                                        </div>
                                        <div class="form-group">
                                            <label for="course">Mobile Number :</label>
                                            <input type="text" th:field="*{profile.mobileNumber}"
                                                placeholder="Mobile Number"></input>
                                        </div>
                                        <div class="form-group">
                                            <label for="course">Email Address :</label>
                                            <input type="email" th:field="*{profile.emailAddress}"
                                                placeholder="Email Address" />
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-c1" type="submit">ubmit</button>
                                            <button class="btn btn-c1" id="closeBtn">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="cart-style">
                            <a class="right color">Project title</a>
                            <p class="right">Worked till</p>
                            <p class="right">Worked from</p>
                            <p class="right">Details of project</p>
                        </div>
                    </div>
                    <div class="right-cart-hedline">
                        <div class="headline" id="itskil">
                            <div class="space">
                                <a href="">Education <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <!-- <a href="" id="addHeadlineBtn" style="color: blue;">Add Education</a> -->
                                <button id="addHeadlineBtn">Add Education</button>
                                <div id="cart" class="hidden">
                                    <h2>Cart</h2>
                                    <form id="cartForm" action="" th:action="@{/home/submit}" method="post">
                                        <h2 style="margin:15px 0 15px">Profile Details : </h2>

                                        <div class="form-group">
                                            <label for="title">Name :</label>
                                            <input type="name" th:field="*{profile.name}" placeholder="Name" />
                                        </div>
                                        <div class="form-group">
                                            <label for="college">Total Experience :</label>
                                            <input type="text" th:field="*{profile.totalExperience}"
                                                placeholder="Total Experience" />
                                        </div>
                                        <div class="form-group">
                                            <label for="location">Current Location :</label>
                                            <input type="location" th:field="*{profile.currentLocation}"
                                                placeholder="Current Location" />
                                        </div>
                                        <div class="form-group">
                                            <label for="course">Mobile Number :</label>
                                            <input type="text" th:field="*{profile.mobileNumber}"
                                                placeholder="Mobile Number"></input>
                                        </div>
                                        <div class="form-group">
                                            <label for="course">Email Address :</label>
                                            <input type="email" th:field="*{profile.emailAddress}"
                                                placeholder="Email Address" />
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-c1" type="submit">ubmit</button>
                                            <button class="btn btn-c1" id="closeBtn">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="table">
                            <table>
                                <tr>
                                    <th>Skills</th>
                                    <th>Version</th>
                                    <th>Last Used</th>
                                    <th>Experience</th>
                                </tr>
                                <tr>
                                    <td>HTML</td>
                                    <td>5</td>
                                    <td>2021</td>
                                    <td>3 years</td>
                                </tr>
                                <tr>
                                    <td>CSS</td>
                                    <td>3</td>
                                    <td>2022</td>
                                    <td>2 years</td>
                                </tr>
                                <tr>
                                    <td>JavaScript</td>
                                    <td>ES6</td>
                                    <td>2023</td>
                                    <td>1 year</td>
                                </tr>
                                <tr>
                                    <td>Python</td>
                                    <td>3.9</td>
                                    <td>2022</td>
                                    <td>2 years</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end main Content -->
    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="resources">
                <h3>Resources</h3>
                <ul>
                    <li><a th:href="@{/home/resume}">Resume</a></li>
                    <li><a href="cv.html">CV</a></li>
                </ul>
            </div>
            <div class="support">
                <h3>Support</h3>
                <ul>
                    <li><a href="contact.html">Contact us</a></li>
                    <li><a href="terms.html">Terms of Use</a></li>
                    <li><a href="privacy.html">Privacy</a></li>
                </ul>
            </div>
            <div class="additional-links">
                <h3>Social Media</h3>
                <ul>
                    <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin-square" aria-hidden="true"
                                style="color: blue;"></i>
                        </a></li>
                    <li><a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"
                                style="color: #C13584;"></i>
                        </a></li>
                    <li><a href="https://www.facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"
                                style="color: blue;"></i>
                        </a></li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Footer -->
</body>
<script th:src="@{/js/jquery-3.7.0.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

</html>