<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" th:href="@{/css/homeStyle.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/homeContentStyle.css}">
    <link rel="stylesheet" th:href="@{/css/help.css}">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/resumeStyle.css}">
</head>

<body>
    <!-- Create a navbar -->
    <nav class="navbar">
        <div class="navbar-left">
            <a th:href="@{/home}">
                <img th:src="@{'/images/logo.jpg'}" alt="Logo">
            </a>
        </div>
        <div class="navbar-center">
            <ul class="navbar-menu">
                <li><a th:href="@{/home}">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtns">Tools
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-content">
                        <a th:href="@{/home/resume}">Online Resume</a>
                        <a href="#">Resumes</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="profile-dropdown">
            <div class="dropbtn">
                <img th:src="@{'/images/network.png'}" alt="">
            </div>
            <div class="profile-content">
                <div sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="POST">
                        <div>
                            <label>Welcome,<br> <span sec:authentication="name"> Username</span></label>
                        </div>
                        <hr>
                        <button type="submit">Logout</button>
                    </form>
                    <a th:href="@{/home}">Home</a>
                    <a th:href="@{/home/resume}">Online Resume</a>
                    <a th:href="@{/home/moreResumes}">Resume</a>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a th:href="@{/home}">Home</a>
                    <a th:href="@{/registra}">Sign Up</a>
                    <a th:href="@{/login}">Log in</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- navbar end -->

    <!-- main Content -->
    <div class="container">
        <div class="container-user" id="user">
            <div class="container-left">
                <div>
                    <img th:src="@{/images/network.png}" alt="" />
                </div>
                <div class="hover-icon">
                    <i id="addPhotoBtn" class="fa fa-pencil" aria-hidden="true"> Profile Photo</i>
                    <div id="cartPhoto" class="hidden">
                        <form action="" th:action="@{/home/image}" th:enctype="@{multipart/form-data}" method="post">
                            <div class="form-group">
                                <input type="file" th:id="image" name="image" accept="profileimagemodel/*" required>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-c1" type="submit">Submit</button>
                                <button class="btn btn-c1" id="closePhoto">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container-right">
                <div th:each="profile : ${profiles}">
                    <h5 th:text="${profile.name}">Full Name</h5>
                    <a th:href="@{'/home/resume/profile'}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <hr>
                    <div class="user-details">
                        <div class="user-details-left">
                            <p th:text="${profile.currentLocation}"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                Current Location</p>
                            <p th:text="${profile.totalExperience}"><i class="fa fa-briefcase" aria-hidden="true"></i>
                                Total
                                Experience</p>
                        </div>
                        <hr>
                        <div class="user-details-right">
                            <p th:text="${profile.mobileNumber}"><i class=" fa fa-mobile" aria-hidden="true"></i>
                                Mobile
                                Number</p>
                            <p th:text="${profile.emailAddress}"><i class=" fa fa-envelope" aria-hidden="true"></i>
                                Email
                                Address</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="cart">
                <div class="left-cart">
                    <table>
                        <tr>
                            <td><a href="#user">User Details</a></td>
                        </tr>
                        <tr>
                            <td><a href="#hedline">Resume headline</a></td>
                        </tr>
                        <tr>
                            <td><a href="#skills">Key skills</a></td>
                        </tr>
                        <tr>
                            <td><a href="#employment">Employment</a></td>
                        </tr>
                        <tr>
                            <td><a href="#education">Education</a></td>
                        </tr>
                        <tr>
                            <td><a href="#project">Project</a></td>
                        </tr>
                        <tr>
                            <td><a href="#itskil">IT Skill</a></td>
                        </tr>
                    </table>
                </div>
                <div class="right-cart">
                    <div class="right-cart-hedline">
                        <div class="headline" id="hedline">
                            <div class="space">
                                <a href="">Resume headline <i class="fa fa-pencil" aria-hidden="true"></i>
                                    <a th:href="@{'/home/resume/headline'}" style="color: blue;">Add Education</a>
                                    <!-- <button id="addHeadlineBtn">Add Education</button> -->
                            </div>
                        </div>
                        <div th:each="resumeheadline : ${resumeheadline}">
                            <p th:text="${resumeheadline.headline}">Update Your Headline.</p>
                        </div>
                    </div>
                    <div class="right-cart-hedline">
                        <div class="headline" id="skills">
                            <div class="space">
                                <a href="">Key skills <i class="fa fa-pencil" aria-hidden="true"></i>
                                    <!-- <i id="addskillsBtn" class="fa fa-pencil"  aria-hidden="true"></i> -->
                                    <a th:href="@{/home/resume/keySkills}" style="color: blue;">Add
                                        Education</a>
                                    <!-- <button id="addEducationBtn">Add Education</button> -->
                            </div>
                        </div>
                        <div class="btn-type" th:each="keySkill : ${keySkills}">
                            <p th:text="${keySkill.skill}">Skill</p>
                        </div>
                    </div>
                    <div class="right-cart-hedline">
                        <div class="headline" id="education">
                            <div class="space">
                                <a href="">Education <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <a th:href="@{'/home/resume/education'}" style="color: blue;">Add Education</a>
                                <!-- <button id="addEducationBtn">Add Education</button> -->

                            </div>
                        </div>
                        <div class="cart-style" th:each="education : ${educations}">
                            <a class="right color" th:text="${education.title}">Title</a>
                            <p class="right" th:text="${education.collage}">College</p>
                            <p class="right" th:text="${education.location}">Location</p>
                            <p class="right" th:text="${education.course}">Course</p>
                            <p class="right" th:text="${education.description}">Description</p>
                        </div>
                    </div>
                    <div class="right-cart-hedline">
                        <div class="headline" id="employment">
                            <div class="space">
                                <a href="">Experience <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <a th:href="@{'/home/resume/eployment'}" style="color: blue;">Add Education</a>
                                <!-- <button id="addExperienceBtn">Add Experience</button> -->

                            </div>
                        </div>
                        <div class="cart-style" th:each="employment : ${employments}">
                            <a class="right color" th:text="${employment.designation}">Description </a>
                            <p class="right" th:text="${employment.companyName}">Company Name</p>
                            <p class="right" th:text="${employment.companyLocation}">Location</p>
                            <span th:text="${employment.employmentType}">Employment Type</span>||<span
                                th:text="${employment.totalExperience}"></span><span>(<span
                                    th:text="${employment.joiningDate}"></span> to <span
                                    th:text="${employment.workedTill}"></span>)</span>
                            <p class="right" th:text="${employment.jobProfile}">Job Profile</p>
                        </div>
                    </div>
                    <div class="right-cart-hedline">
                        <div class="headline" id="project">
                            <div class="space">
                                <a href="">Project <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <a th:href="@{'/home/resume/project'}" style="color: blue;">Add Education</a>
                                <!-- <button id="addProjectBtn">Add Project</button> -->

                            </div>
                        </div>
                        <div class="cart-style" th:each="project : ${projects}">
                            <a class="right color" th:text="${project.proejectTitle}">Project title</a>
                            <span th:text="${project.workedTime}">Worked till</span>to<span
                                th:text="${project.workedFrom}">Worked from</span>
                            <p class="right" th:text="${project.detailsOfroject}">Details of project</p>
                        </div>
                    </div>
                    <div class="right-cart-hedline">
                        <div class="headline" id="itskil">
                            <div class="space">
                                <a href="">It Skills <i class="fa fa-pencil" aria-hidden="true"></i>
                                    <a th:href="@{'/home/resume/itSkills'}" style="color: blue;">Add Education</a>
                                    <!-- <button id="addITSkillBtn">Add Skill</button> -->
                            </div>
                        </div>
                        <div class="tableitem">
                            <table class="table-style">
                                <tr>
                                    <th>Skills</th>
                                    <th>Version</th>
                                    <th>Experience</th>
                                    <th>Action</th>
                                </tr>
                                <tr th:each="itSkill : ${itSkills}">
                                    <td th:text="${itSkill.skills}"></td>
                                    <td th:text="${itSkill.version}"></td>
                                    <td th:text="${itSkill.experience}"></td>
                                    <td><a href="">IT Skill <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end main Content -->
    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="resources">
                <h3>Resources</h3>
                <ul>
                    <li><a th:href="@{/home/resume}">Resume</a></li>
                    <li><a href="cv.html">CV</a></li>
                </ul>
            </div>
            <div class="support">
                <h3>Support</h3>
                <ul>
                    <li><a href="contact.html">Contact us</a></li>
                    <li><a href="terms.html">Terms of Use</a></li>
                    <li><a href="privacy.html">Privacy</a></li>
                </ul>
            </div>
            <div class="additional-links">
                <h3>Social Media</h3>
                <ul>
                    <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin-square" aria-hidden="true"
                                style="color: blue;"></i>
                        </a></li>
                    <li><a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"
                                style="color: #C13584;"></i>
                        </a></li>
                    <li><a href="https://www.facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"
                                style="color: blue;"></i>
                        </a></li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Footer -->
</body>
<script th:src="@{/js/jquery-3.7.0.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/softwareversion.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

</html>