<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" th:href="@{/css/homeStyle.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/homeContentStyle.css}">
    <link rel="stylesheet" th:href="@{/css/help.css}">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/resumeStyle.css}">
</head>

<body>
    <!-- Create a navbar -->
    <nav class="navbar">
        <div class="navbar-left">
            <a th:href="@{/home}">
                <img th:src="@{'/images/logo.jpg'}" alt="Logo">
            </a>
        </div>
        <div class="navbar-center">
            <ul class="navbar-menu">
                <li><a th:href="@{/home}">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtns">Tools
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-content">
                        <a th:href="@{/home/resume}">Online Resume</a>
                        <a href="#">Resumes</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="profile-dropdown">
            <div class="dropbtn">
                <img th:src="@{'/images/network.png'}" alt="">
            </div>
            <div class="profile-content">
                <div sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="POST">
                        <div>
                            <label>Welcome,<br> <span sec:authentication="name"> Username</span></label>
                        </div>
                        <hr>
                        <button type="submit">Logout</button>
                    </form>
                    <a th:href="@{/home}">Home</a>
					<a th:href="@{/home/resume}">Online Resume</a>
					<a th:href="@{/home}">Resume</a>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a th:href="@{/home}">Home</a>  
                    <a th:href="@{/registra}">Sign Up</a>
                    <a th:href="@{/login}">Log in</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- navbar end -->

    <!-- main Content -->
    <div class="container">
        <div class="container-user" id="user">
            <div class="container-left">
                <div>
                    <img th:src="@{/images/network.png}" alt="" />
                </div>
                <div class="hover-icon">
                    <i id="addPhotoBtn" class="fa fa-pencil" aria-hidden="true"> Profile Photo</i>
                    <div id="cartPhoto" class="hidden">
                        <form action="" th:action="@{/home/image}" th:enctype="@{multipart/form-data}" method="post">
                            <div class="form-group">
                                <input type="file" th:id="image" name="image" accept="profileimagemodel/*" required>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-c1" type="submit">Submit</button>
                                <button class="btn btn-c1" id="closePhoto">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container-right">
                <!-- <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a> -->
                <!-- <a href="" id="addHeadlineBtn" style="color: blue;">Add Education</a> -->
                <!--	<button id="addHeadlineBtn">Add Education</button>-->
                <div id="cartProfile" class="hidden">
                    <!-- <h2>Cart</h2> -->
                    <form id="cartForm" action="/home/profile" method="post">
                        <h2 style="margin:15px 0 15px">Profile Details </h2>
                        <div class="form-group">
                            <label for="name">Name :</label>
                            <input type="text" name="name" placeholder="Name" />
                        </div>
                        <div class="form-group">
                            <label for="totalExperience">Total Experience :</label>
                            <input type="text" name="totalExperience" placeholder="Total Experience" />
                        </div>
                        <div class="form-group">
                            <label for="currentLocation">Current Location :</label>
                            <input type="text" name="currentLocation" placeholder="Current Location" />
                        </div>
                        <div class="form-group">
                            <label for="mobileNumber">Mobile Number :</label>
                            <input type="text" name="mobileNumber" placeholder="Mobile Number"></input>
                        </div>
                        <div class="form-group">
                            <label for="emailAddress">Email Address :</label>
                            <input type="email" name="emailAddress" placeholder="Email Address" />
                        </div>
                        <div class="form-group-btn">
                            <button class="btn btn-c1" type="submit">Submit</button>
                            <button class="btn btn-c1" id="closeProfile">Close</button>
                        </div>
                    </form>
                </div>
                <i id="addProfileBtn" class="fa fa-pencil" aria-hidden="true"></i>
                <div th:each="profile : ${profile}">
                    <h5 th:text="${profile.name}">Full Name</h5>
                    <hr>
                    <div class="user-details">
                        <div class="user-details-left">
                            <p th:text="${profile.currentLocation}"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                Current Location</p>
                            <p th:text="${profile.totalExperience}"><i class="fa fa-briefcase" aria-hidden="true"></i>
                                Total
                                Experience</p>
                        </div>
                        <hr>
                        <div class="user-details-right">
                            <p th:text="${profile.mobileNumber}"><i class=" fa fa-mobile" aria-hidden="true"></i> Mobile
                                Number</p>
                            <p th:text="${profile.emailAddress}"><i class=" fa fa-envelope" aria-hidden="true"></i>
                                Email
                                Address</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="cart">
                <div class="left-cart">
                    <table>
                        <tr>
                            <td><a href="#user">User Details</a></td>
                        </tr>
                        <tr>
                            <td><a href="#hedline">Resume headline</a></td>
                        </tr>
                        <tr>
                            <td><a href="#skills">Key skills</a></td>
                        </tr>
                        <tr>
                            <td><a href="#employment">Employment</a></td>
                        </tr>
                        <tr>
                            <td><a href="#education">Education</a></td>
                        </tr>
                        <tr>
                            <td><a href="#project">Project</a></td>
                        </tr>
                        <tr>
                            <td><a href="#itskil">IT Skill</a></td>
                        </tr>
                    </table>
                </div>
                <div class="right-cart">
                    <div class="right-cart-hedline">
                        <div class="headline" id="hedline">
                            <div class="space">
                                <h3>Resume headline</h3>
                                <i id="addHeadlineBtn" class="fa fa-pencil" aria-hidden="true"></i>
                                <!-- <a href="" id="addHeadlineBtn" style="color: blue;">Add Education</a> -->
                                <!-- <button id="addHeadlineBtn">Add Education</button> -->
                                <div id="cart" class="hidden">
                                    <!-- <h2>Cart</h2> -->
                                    <form id="cartForm" action="/home/headline" method="post">
                                        <!-- <h2 style="margin:15px 0 15px">Resume headline </h2> -->
                                        <div class="form-group">
                                            <label style="margin:15px 0 15px" for="headline">Resume headline :</label>
                                            <textarea type="text" name="headline"
                                                placeholder="Enter resume headline"></textarea>
                                        </div>
                                        <div class="form-group-btn">
                                            <button class="btn btn-c1" type="submit">Submit</button>
                                            <button class="btn btn-c1" id="closeBtn">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div th:if="${headline}">
                            <p th:text="${headline}">Update Your Headline.</p>
                        </div>
                    </div>
                    <div class="right-cart-hedline">
                        <div class="headline" id="skills">
                            <div class="space">
                                <h3>Key skills</h3>
                                <i id="addskillsBtn" class="fa fa-pencil" aria-hidden="true"></i>
                                <!-- <a href="" id="addHeadlineBtn" style="color: blue;">Add Education</a> -->
                                <!-- <button id="addEducationBtn">Add Education</button> -->
                                <div id="cartskills" class="hidden">
                                    <!-- <h2>Cart</h2> -->
                                    <form id="cartForm" action="/home/keySkills" th:object="${keySkills}" method="post">
                                        <h2 style="margin:15px 0 15px">Key skills </h2>
                                        <div class="form-group">
                                            <!-- <label style="margin:15px 0 15px" for="skill">Key skills :</label> -->
                                            <input type="text" id="skill" name="skill" required>
                                        </div>
                                        <div class="form-group-btn">
                                            <button class="btn btn-c1" type="submit">Submit</button>
                                            <button class="btn btn-c1" id="closeskills">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="btn-type" th:each="keySkill : ${keySkills}">
                            <p th:text="${keySkill.skill}">Skill</p>
                        </div>
                    </div>
                    <div class="right-cart-hedline">
                        <div class="headline" id="education">
                            <div class="space">
                                <a href="">Education <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <!-- <a href="" id="addHeadlineBtn" style="color: blue;">Add Education</a> -->
                                <button id="addEducationBtn">Add Education</button>
                                <div id="cartEducation" class="hidden">
                                    <!-- <h2>Cart</h2> -->
                                    <form id="cartForm" action="/home/education" method="post">
                                        <h2 style="margin:15px 0 15px">Education </h2>

                                        <div class="form-group">
                                            <label for="title">Education Name :</label>
                                            <input type="text" name="title" placeholder="Education" />
                                        </div>
                                        <div class="form-group">
                                            <label for="collage">University/Institute :</label>
                                            <input type="text" name="collage"
                                                placeholder="Enter your university and institute name" />
                                        </div>
                                        <div class="form-group">
                                            <label for="location">Location :</label>
                                            <input type="text" name="location"
                                                placeholder="Enter your collage location" />
                                        </div>
                                        <div class="form-group">
                                            <label for="course">Course :</label>
                                            <input type="text" name="course"
                                                placeholder="Enter Your course name"></input>
                                        </div>
                                        <div class="form-group">
                                            <label for="description">Description :</label>
                                            <textarea type="text" name="description"
                                                placeholder="Enter description"></textarea>
                                        </div>
                                        <div class="form-group-btn">
                                            <button class="btn btn-c1" type="submit">Submit</button>
                                            <button class="btn btn-c1" id="closecart">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="cart-style" th:each="education : ${educations}">
                            <a class="right color" th:text="${education.title}">Title</a>
                            <p class="right" th:text="${education.collage}">College</p>
                            <p class="right" th:text="${education.location}">Location</p>
                            <p class="right" th:text="${education.course}">Course</p>
                            <p class="right" th:text="${education.description}">Description</p>
                        </div>
                    </div>
                    <div class="right-cart-hedline">
                        <div class="headline" id="employment">
                            <div class="space">
                                <a href="">Experience <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <!-- <a href="" id="addHeadlineBtn" style="color: blue;">Add Education</a> -->
                                <button id="addExperienceBtn">Add Experience</button>
                                <div id="cartExperience" class="hidden">
                                    <!-- <h2>Cart</h2> -->
                                    <form id="cartForm" action="/home/eployment" method="post">
                                        <h2 style="margin:15px 0 15px">Experience </h2>

                                        <div class="form-group">
                                            <label for="employmentType">Employment Type :</label>
                                            <select name="employmentType" id="type">
                                                <option value="Select">Select</option>
                                                <option value="Full-time">Full-time</option>
                                                <option value="Intership">Intership</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="totalExperience">Total Experience :</label>
                                            <select id="year" name="totalExperience">
                                                <option value="Select">Select</option>
                                                <option value="0 Year ">0 Year</option>
                                                <option value="1 Year ">1 Year</option>
                                                <option value="2 Year ">2 Year</option>
                                                <option value="3 Year ">3 Year</option>
                                                <option value="4 Year ">4 Year</option>
                                                <option value="5 Year ">5 Year</option>
                                            </select>
                                            <select id="month" name="totalExperience">
                                                <option value="Select">Select</option>
                                                <option value=" Present">Present</option>
                                                <option value=" 1 Month">1 Month</option>
                                                <option value=" 2 Month">2 Month</option>
                                                <option value=" 3 Month">3 Month</option>
                                                <option value=" 4 Month">4 Month</option>
                                                <option value=" 5 Month">5 Month</option>
                                                <option value=" 6 Month">6 Month</option>
                                                <option value=" 7 Month">7 Month</option>
                                                <option value=" 8 Month">8 Month</option>
                                                <option value=" 9 Month">9 Month</option>
                                                <option value=" 10 Month">10 Month</option>
                                                <option value=" 11 Month">11 Month</option>
                                                <option value=" 12 Month">12 Month</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="companyName">Company Name :</label>
                                            <input type="text" name="companyName" placeholder="Company Name" />
                                        </div>
                                        <div class="form-group">
                                            <label for="companyLocation">Company Location :</label>
                                            <input type="text" name="companyLocation" placeholder="Company Location" />
                                        </div>
                                        <div class="form-group">
                                            <label for="designation">Designation :</label>
                                            <input type="text" name="designation"
                                                placeholder="Enter your designation"></input>
                                        </div>
                                        <div class="form-group">
                                            <label for="joiningDate">Joining Date :</label>
                                            <input type="date" name="joiningDate" />
                                        </div>
                                        <div class="form-group">
                                            <label for="workedTill">Worked Till :</label>
                                            <input type="date" name="workedTill" />
                                        </div>
                                        <div class="form-group">
                                            <label for="jobProfile">Job Profile :</label>
                                            <textarea type="text" name="jobProfile"
                                                placeholder="Job Profile"></textarea>
                                        </div>
                                        <div class="form-group-btn">
                                            <button class="btn btn-c1" type="submit">Submit</button>
                                            <button class="btn btn-c1" id="closeExperience">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="cart-style" th:each="employment : ${employments}">
                            <a class="right color" th:text="${employment.designation}">Description </a>
                            <p class="right" th:text="${employment.companyName}">Company Name</p>
                            <p class="right" th:text="${employment.companyLocation}">Location</p>
                            <span th:text="${employment.employmentType}">Employment Type</span>||<span
                                th:text="${employment.totalExperience}"></span><span>(<span
                                    th:text="${employment.joiningDate}"></span> to <span
                                    th:text="${employment.workedTill}"></span>)</span>
                            <p class="right" th:text="${employment.jobProfile}">Job Profile</p>
                        </div>
                    </div>
                    <div class="right-cart-hedline">
                        <div class="headline" id="project">
                            <div class="space">
                                <a href="">Project <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <!-- <a href="" id="addHeadlineBtn" style="color: blue;">Add Education</a> -->
                                <button id="addProjectBtn">Add Project</button>
                                <div id="cartProject" class="hidden">
                                    <!-- <h2>Cart</h2> -->
                                    <form id="cartForm" action="/home/project" method="post">
                                        <h2 style="margin:15px 0 15px">Project </h2>
                                        <div class="form-group">
                                            <label for="proejectTitle">Proeject Title :</label>
                                            <input id="text" type="text" name="proejectTitle"
                                                placeholder="Proeject Title" />
                                        </div>
                                        <div class="form-group">
                                            <label for="workedTime">Worked Time :</label>
                                            <select id="year" name="workedTime">
                                                <option value="Select">Select</option>
                                                <option value="2023 ">2023</option>
                                                <option value="2022 ">2022</option>
                                                <option value="2021 ">2021</option>
                                                <option value="2020 ">2020</option>
                                                <option value="2019 ">2019</option>
                                                <option value="2018 ">2018</option>
                                                <option value="2017 ">2017</option>
                                                <option value="2016 ">2016</option>
                                                <option value="2015 ">2015</option>
                                                <option value="2014 ">2014</option>
                                                <option value="2013 ">2013</option>
                                                <option value="2012 ">2012</option>
                                                <option value="2011 ">2011</option>
                                                <option value="2010 ">2010</option>
                                                <option value="2009 ">2009</option>
                                                <option value="2008 ">2008</option>
                                                <option value="2007 ">2007</option>
                                                <option value="2006 ">2006</option>
                                                <option value="2005 ">2005</option>
                                                <option value="2004 ">2004</option>
                                                <option value="2003 ">2003</option>
                                                <option value="2002 ">2002</option>
                                                <option value="2001 ">2001</option>
                                                <option value="2000 ">2000</option>
                                            </select>
                                            <select id="month" name="workedTime">
                                                <option value="Select">Select</option>
                                                <option value=" January">January</option>
                                                <option value=" February">February</option>
                                                <option value=" March">March</option>
                                                <option value=" April">April</option>
                                                <option value=" May">May</option>
                                                <option value=" June">June</option>
                                                <option value=" July">July</option>
                                                <option value=" August">August</option>
                                                <option value=" September">September</option>
                                                <option value=" October">October</option>
                                                <option value=" November">November</option>
                                                <option value=" December">December</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="workedFrom">Wrked From:</label>
                                            <select id="year" name="workedFrom">
                                                <option value="select">Select</option>
                                                <option value="2023 ">2023</option>
                                                <option value="2022 ">2022</option>
                                                <option value="2021 ">2021</option>
                                                <option value="2020 ">2020</option>
                                                <option value="2019 ">2019</option>
                                                <option value="2018 ">2018</option>
                                                <option value="2017 ">2017</option>
                                                <option value="2016 ">2016</option>
                                                <option value="2015 ">2015</option>
                                                <option value="2014 ">2014</option>
                                                <option value="2013 ">2013</option>
                                                <option value="2012 ">2012</option>
                                                <option value="2011 ">2011</option>
                                                <option value="2010 ">2010</option>
                                                <option value="2009 ">2009</option>
                                                <option value="2008 ">2008</option>
                                                <option value="2007 ">2007</option>
                                                <option value="2006 ">2006</option>
                                                <option value="2005 ">2005</option>
                                                <option value="2004 ">2004</option>
                                                <option value="2003 ">2003</option>
                                                <option value="2002 ">2002</option>
                                                <option value="2001 ">2001</option>
                                                <option value="2000 ">2000</option>
                                            </select>
                                            <select id="month" name="workedFrom">
                                                <option value="select month">Select Month</option>
                                                <option value=" January">January</option>
                                                <option value=" February">February</option>
                                                <option value=" March">March</option>
                                                <option value=" April">April</option>
                                                <option value=" May">May</option>
                                                <option value=" June">June</option>
                                                <option value=" July">July</option>
                                                <option value=" August">August</option>
                                                <option value=" September">September</option>
                                                <option value=" October">October</option>
                                                <option value=" November">November</option>
                                                <option value=" December">December</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="detailsOfroject">Details Of Project :</label>
                                            <textarea type="text" name="detailsOfroject"
                                                placeholder="Enter your project details"></textarea>
                                        </div>
                                        <div class="form-group-btn">
                                            <button class="btn btn-c1" type="submit">Submit</button>
                                            <button class="btn btn-c1" id="closeProject">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="cart-style" th:each="project : ${projects}">
                            <a class="right color" th:text="${project.proejectTitle}">Project title</a>
                            <span th:text="${project.workedTime}">Worked till</span>to<span
                                th:text="${project.workedFrom}">Worked from</span>
                            <p class="right" th:text="${project.detailsOfroject}">Details of project</p>
                        </div>
                    </div>
                    <div class="right-cart-hedline">
                        <div class="headline" id="itskil">
                            <div class="space">
                                <a href="">IT Skill <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <!-- <a href="" id="addHeadlineBtn" style="color: blue;">Add Education</a> -->
                                <button id="addITSkillBtn">Add Skill</button>
                                <div id="cartITSkill" class="hidden">
                                    <!-- <h2>Cart</h2> -->
                                    <form id="cartForm" action="/home/itSkills" method="post">
                                        <h2 style="margin:15px 0 15px">IT Skill </h2>
                                        <div class="form-group">
                                            <label for="skills">Skills :</label>
                                            <input type="text" name="skills" placeholder="Skills" />
                                        </div>
                                        <div class="form-group">
                                            <label for="version">Version :</label>
                                            <select id="software" name="version">
                                                <option value="none">Select</option>
                                                <option value="java ">Java</option>
                                                <option value="javascript ">JavaScript</option>
                                                <option value="mysql ">MySQL</option>
                                                <option value="html ">HTML</option>
                                                <option value="php ">PHP</option>
                                                <option value="python ">Python</option>
                                            </select>
                                            <select id="versions" name="version"></select>
                                        </div>
                                        <div class="form-group">
                                            <label for="experience">Experience :</label>
                                            <select name="experience" id="year">
                                                <option value="none">Select</option>
                                                <option value="0 Year ">0 Year</option>
                                                <option value="1 Year ">1 Year</option>
                                                <option value="2 Year ">2 Year</option>
                                                <option value="3 Year ">3 Year</option>
                                                <option value="4 Year ">4 Year</option>
                                                <option value="5 Year ">5 Year</option>
                                            </select>
                                            <select name="experience" id="month">
                                                <option value="none">Select</option>
                                                <option value=" 0 Month">0 Month</option>
                                                <option value=" 1 Month">1 Month</option>
                                                <option value=" 2 Month">2 Month</option>
                                                <option value=" 3 Month">3 Month</option>
                                                <option value=" 4 Month">4 Month</option>
                                                <option value=" 5 Month">5 Month</option>
                                                <option value=" 6 Month">6 Month</option>
                                                <option value=" 7 Month">7 Month</option>
                                                <option value=" 8 Month">8 Month</option>
                                                <option value=" 9 Month">9 Month</option>
                                                <option value=" 10 Month">10 Month</option>
                                                <option value=" 11 Month">11 Month</option>
                                                <option value=" 12 Month">12 Month</option>
                                            </select>
                                        </div>
                                        <div class="form-group-btn">
                                            <button class="btn btn-c1" type="submit">Submit</button>
                                            <button class="btn btn-c1" id="closeITSkill">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tableitem">
                            <table class="table-style">
                                <tr>
                                    <th>Skills</th>
                                    <th>Version</th>
                                    <th>Experience</th>
                                    <th>Action</th>
                                </tr>
                                <tr th:each="itSkill : ${itSkills}">
                                    <td th:text="${itSkill.skills}"></td>
                                    <td th:text="${itSkill.version}"></td>
                                    <td th:text="${itSkill.experience}"></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end main Content -->
    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="resources">
                <h3>Resources</h3>
                <ul>
                    <li><a th:href="@{/home/resume}">Resume</a></li>
                    <li><a href="cv.html">CV</a></li>
                </ul>
            </div>
            <div class="support">
                <h3>Support</h3>
                <ul>
                    <li><a href="contact.html">Contact us</a></li>
                    <li><a href="terms.html">Terms of Use</a></li>
                    <li><a href="privacy.html">Privacy</a></li>
                </ul>
            </div>
            <div class="additional-links">
                <h3>Social Media</h3>
                <ul>
                    <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin-square" aria-hidden="true"
                                style="color: blue;"></i>
                        </a></li>
                    <li><a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"
                                style="color: #C13584;"></i>
                        </a></li>
                    <li><a href="https://www.facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"
                                style="color: blue;"></i>
                        </a></li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Footer -->
</body>
<script th:src="@{/js/jquery-3.7.0.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/softwareversion.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

</html>